$white-color:#fff;
$black-color: #000;
$grey-theme-color:#828a96;
$sidebar-item-text-color: #6E6B7B;
$background-theme-color:#F8F8F8;

$color-bg-sidebar: #FFFFFF;
$color-bg-light-blue: #f6f8ff;
$color-bg-light: #f0f2f5;
$color-bg-primary: #fff;
$color-bg-secondary: #033E67;
$react-table-boder-color: #e5e5e5;

$dark-blue-color-form-button:#003171;
$light-blue-color-form-button:#3f8cff;

$dark-orange-color-form-button:#FF4E4E;
$light-orange-color-form-button:#FF834E;

$color-text-error: #c51244;
$color-text-primary: #FFFFFF;
$color-text-secondary: #F84D40;
$color-border-sapratter: #D9D7D7;

$color-icon-bg: #F84D40;
$color-icon: #fff;
$color-icon-shadowbox-bg: rgb(38, 57, 77) 0px 20px 30px -10px;

$color-button-new:#4361EE;

$xs: 360px;
$sm: 420px;
$md: 770px;
$mx: 970px;